.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.textLink {
    color: lightskyblue;
    margin-left: 30%;
    text-align: center;
    font-size: medium;
}

.textPara {
    color: gainsboro;
    font-size: medium;
}

.head {
    font-size: 20px;
}

.text {
    font-size: medium;
}

.name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    align-items: center;
    margin-right: 4%;
}

.div {
    background-color: cyan;
    height: 150px;
}

.p {
    font-size: 15;
    color: #424242;
    font-family: Sacramento;
}

.col-xs-offset-2 {
    margin-top: 15px;
    padding: 0.3%;
}